html, body {
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}
/* ================================ Scrolling ======================================== */
/* 1. جعل التنقل في الصفحة كلها ناعم ومريح للعين */
html {
    scroll-behavior: smooth;
}

/* 2. حماية الـ FAQ Section من الاختفاء تحت الـ Navbar */
#faq-section {
    /* الـ 80px دي هي ارتفاع الـ Navbar بتاعك، عدلها حسب تصميمك */
    scroll-margin-top: 80px; 
}

#solution-section {
    scroll-margin-top: 20px; 
}

/* ================================  End-Scrolling ======================================== */

/* {{-- Chat Widget --}} */
.chat-btn {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 50%;
    background: #9DC183;
    color: #001F3F;
    cursor: pointer;
    z-index: 1000;
}

.chat-box {
    position: fixed;
    bottom: 6rem;
    right: 1.5rem;
    width: 20rem;
    height: 25rem;
    background: #fff;
    border-radius: 1rem;
    z-index: 1000;
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.15);

    display: none;
    flex-direction: column;
}

.chat-box.active {
    display: flex;
}

.chat-body {
    flex: 1;
    padding: 1rem;
}

.chat-footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-top: 0.0625rem solid #eee;
    gap: 0.5rem;
}

.chat-footer{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-top: 0.0625rem solid #eee;
    gap: 0.5rem;
}

.chat-footer input{
    flex: 1;
    border: 0.0625rem solid #ddd;
    border-radius: 2rem;
    padding: 0.75rem 1rem;
    outline: none;
}

.send-btn{
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 50%;
    background: #9DC183;
    color: #001F3F;
    cursor: pointer;
}

.chat-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #001F3F;
    border-bottom: 0.0625rem solid #f0f0f0;
}

.chat-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

.chat-body p {
    color: #7a7a7a;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 14rem;
}